@font-face {
    font-family: "OJ";
    src: url("orange_juice.ttf") format("opentype");
}

@font-face {
	font-family: "Gravity";
	src: url("Gravity-Book.otf") format("opentype");
}

body {
	background-color: #646464;
	font-family: "Gravity";
    font-size: 18pt;
    margin-left: 2in;
    margin-right: 2in;   
}

div.space {
	height: 1in;
}

#title {
	text-align: center;
	font-family: "OJ";
	font-size: 50pt;
}

hr.sep {
	border: 0;
	height: 1px;
	width: 75%;
	background: -webkit-linear-gradient(left, #C9C9C9, #FFFFFF, #C9C9C9);
}

#footer {
	padding: 20px 0;
	text-align: center;
}

.icon {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.icon-email {
	background-image: url("email_icon.png");
	background-size: 40px 40px;
}

.icon-linkedin {
	background-image: url("linkedin_icon.png");
	background-size: 40px 40px;
}

